#about {
  .vision-mission-container,
  .landing-container {
    padding: 7.5rem 5rem 3rem 5rem;
  }

  .landing-content {
    gap: 2rem;
  }

  .landing-content h1 {
    font-family: var(--notosansjp);
    font-size: 2.75rem;
    font-weight: 700;
  }

  .landing-img-container {
    height: 31.25rem;
    width: 100%;
  }

  .landing-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .section-title {
    padding: 3.75rem 0 0 0;
  }

  /* !!VisionMission _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .vision-mission-container {
    background-color: var(--darkbrown);
  }
  .vm-content {
    display: flex;
    gap: 1rem;
  }

  .vision {
    flex-basis: 55%;
  }

  .mission {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .vision-card,
  .mission-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 0 2.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  .vm-content p {
    padding: 2rem 0;
  }
  .card-content h1 {
    font-family: var(--notosansjp);
    font-size: 2.5rem;
    font-weight: 700;
  }
  .card-content p {
    font-family: var(--notosansjp);
    font-size: 18px;
    font-weight: 400;
    line-height: 26.06px;
  }

  .mv-img {
    max-width: 39.375rem;
    height: 16.375rem;
  }

  .mv-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  /* !!Action _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .action-wrapper {
    margin-top: auto;
    height: 100vh;
    background-image: url("../image/about/action-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    color: #fff;
    border-radius: 12px;
  }
  .action-content h1 {
    font-family: var(--notosansjp);
    font-size: 2.5rem;
    font-weight: 700;
  }
  .action-content p {
    margin-top: 1rem;
    font-family: var(--notosansjp);
    font-size: 1.125rem;
  }
  .action-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5rem;
  }
}
