* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-size: 16px;
}
.global-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.flx {
  display: flex;
}
.flx-col {
  display: flex;
  flex-direction: column;
}
.flx-row {
  display: flex;
  flex-direction: row;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}
.ai-c {
  align-items: center;
}

.p-0_5 {
  padding: 0.125rem;
}

/* Color */
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-lbrown {
  color: var(--lightbrown);
}
.c-dbrown {
  color: var(--darkbrown);
}
.bg-lbrown {
  background-color: var(--lightbrown);
}
.bg-dbrown {
  background-color: var(--darkbrown);
}
.bg-white {
  background-color: #fff;
}

.long-button,
.short-button,
.white-short-button {
  border: none;
}

.short-button {
  padding: 0.5rem 1rem;
  border-radius: 500px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 10.3125rem;
  margin-top: 1rem;
}

.x-short-button {
  padding: 0.5rem 1rem;
  border-radius: 500px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  max-width: 130px;
  margin-top: 1rem;
  border: none;
}

.long-button p,
.short-button p,
.x-short-button p {
  font-size: 1rem;
  font-family: var(--notosansjp);
  font-weight: 400;
  gap: 2rem;
}

/* .long-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
} */

.long-button {
  padding: 0.5rem 1rem;
  border-radius: 500px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 15.125rem;
  margin-top: 1rem;
  border-color: unset;
}

.long-button svg {
  width: 24px;
  height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  gap: 1rem;
  padding: 5rem 2.5rem;
}

.section-title h1 {
  font-family: var(--bevietnampro);
  font-size: 1.5rem;
  line-height: 1;
}

.span-subtitle {
  vertical-align: bottom;
  color: var(--lightbrown);
  font-weight: 700;
}

.section-subtitle {
  align-self: flex-end;
  line-height: 2;
  color: var(--lightbrown);
  font-size: 1.25rem;
}
