* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-size: 16px;
}
.global-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.flx {
  display: flex;
}
.flx-col {
  display: flex;
  flex-direction: column;
}
.flx-row {
  display: flex;
  flex-direction: row;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}
.ai-c {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

.p-0_5 {
  padding: 0.125rem;
}

/* Color */
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-lbrown {
  color: var(--lightbrown);
}
.c-dbrown {
  color: var(--darkbrown);
}
.bg-lbrown {
  background-color: var(--lightbrown);
}
.bg-dbrown {
  background-color: var(--darkbrown);
}
.bg-white {
  background-color: #fff;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 500px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
}

.button p {
  font-size: 1rem;
  font-family: var(--notosansjp);
  font-weight: 400;
  gap: 2rem;
}

.button--short {
  width: 10.3125rem;
}

.button--x-short {
  max-width: 130px;
}

.button--long {
  width: 15.125rem;
}

.long-button svg {
  width: 24px;
  height: 24px;
}

.button-style-reset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.full-width {
  width: calc(100% - 2rem);
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  gap: 1rem;
  padding: 5rem 2.5rem;
}

.section-title h1 {
  font-family: var(--bevietnampro);
  font-size: 1.5rem;
  line-height: 1;
}

.span-subtitle {
  vertical-align: bottom;
  color: var(--lightbrown);
  font-weight: 700;
}

.header-height {
  padding-top: 4.75rem;
}

/* REUSBALE SECTIONS */
#homepage,
#about {
  /* !!Adviser _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  /* Reset button styles */

  .adviser-content {
    display: flex;
    gap: 2rem;
    min-height: 100%;
  }

  .adviser-col-wrapper {
    width: 45%;
    position: relative;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .adviser-img {
    background-color: #fbe9e5;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
  }

  .adviser-img img {
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
  }

  .adviser-description {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -2rem;
    position: relative;
    z-index: 2;
  }

  .adviser-description h3 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .adviser-credentials {
    width: 60%;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .credential-card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 0.75rem;
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    gap: 1rem;
    flex: 1;
  }

  .credential-card h3 {
    font-family: var(--notosansjp);
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .credential-card p {
    font-family: var(--bevietnampro);
    font-weight: 500;
    color: #666;
  }

  .cred-image {
    border: 10px solid #e7e7e7;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
  }

  .cred-image img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
#donationPage,
#membershipPage {
  /* !!dm-section-2 _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .dm-section-2-container {
    padding: 0 11.75rem 3rem;
  }
  .dm-section-2-container .section-title {
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .dm-section-2-top-content h1 {
    font-family: var(--bevietampro);
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .dm-section-2-top-content p {
    font-family: var(--notosansjp);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26.06px;
  }

  .opportunity-card {
    border: 1px solid #ccc;
    padding: 1.25rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 2.5rem 2rem;
  }
  .opportunity-card h2 {
    margin-bottom: 0.25rem;
    font-family: var(--notosansjp);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28.96px;
    color: var(--textcolor);
  }
  .opportunity-card img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
  }
  .opportunities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* !!HowTO _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .membership-how-container {
    background-color: var(--darkbrown);
  }
  .membership-how-container .section-title {
    padding: 0;
    color: #fff;
  }
  .for-donated-container .section-title {
    color: var(--textcolor);
    padding: 0;
  }
  .how-card,
  .for-donated-card {
    border: 1px solid #ccc;
    padding: 1.25rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 2.5rem 2rem;
    gap: 2rem;
    flex: 1;
  }
  .col-1 {
    flex-basis: 40%;
    padding: 4rem 5rem;
  }
  .col-2 {
    background-image: url("../svg/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 4rem;
  }
  .how-cards,
  .for-donated-cards {
    gap: 2rem;
    align-items: stretch;
  }
  .how-cards p,
  .for-donated-cards p {
    font-family: var(--notosansjp);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--textcolor);
    order: 1;
  }
  .how-cards h2,
  .for-donated-cards h2 {
    font-family: var(--bevietampro);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--lightbrown);
    order: 2;
    margin-top: auto;
  }
}
