.contactPage {
  background-image: url("../image/contact/wavy-vector.png");
  background-size: cover;
  min-height: 797px;

  .section-title {
    padding: 2rem 0 1rem 0;
  }

  .contact-content-wrapper {
    background-color: var(--whitebrown);
    padding-top: 9.125rem;
    display: inline-block;
    padding-bottom: 5rem;
    padding-right: 1rem;
    padding-left: 5rem;
    color: var(--textcolor);
    position: relative;
    width: 50%;
    height: 70%;
  }
  .contact-contents > h1:first-of-type {
    font-family: var(--notosansjp);
    font-size: 2.75rem;
    font-weight: 700;
  }
  .contact-contents {
    max-width: 446px;
  }

  .tel-number {
    font-family: var(--bevietnampro);
    font-size: 40px;
    font-weight: 700;
    padding-left: 3rem;
  }
  .contact-content > p {
    font-family: var(--notosansjp);
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    padding-left: 3rem;
  }

  /* form */
  .contact-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin: 0 1rem;
    margin-left: -7rem;
    margin-top: 13rem;
    width: 60%;
    z-index: 1;
  }
  .form-group,
  .wpforms-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .edu-contact-form {
    background-color: #fff;
    font-family: Arial, sans-serif;
  }

  .edu-contact-form label,
  .wpforms-field-label {
    /* flex: 1; */
    font-family: var(--notosansjp);
    font-size: 0.875rem;
    font-weight: 500;
    flex-basis: 25%;
  }

  .edu-contact-form input,
  .edu-contact-form textarea,
  .wpforms-field-medium {
    /* flex: 4; */
    width: 100%;
    padding: 15px;
    border: 1px solid #e7e7e7 !important;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #f6f6f6 !important;
    border-radius: 5px;
    flex-basis: 75%;
    max-width: 100% !important;
  }

  .wpforms-container .wpforms-field,
  .wp-core-ui div.wpforms-container .wpforms-field {
    padding: 0;
    position: relative;
  }
  .wpforms-field-textarea {
    align-items: unset;
  }

  .edu-contact-form textarea {
    height: 100px;
    resize: vertical;
  }

  .edu-contact-form ::placeholder {
    color: #999;
  }

  .edu-contact-form .form-group:nth-child(5) {
    align-items: baseline;
  }

  .wpforms-submit-container {
    display: flex;
    justify-content: end;
  }
  .wpforms-submit {
    display: flex;
    align-items: center;
    gap: 3rem;
    border-radius: 500px !important;
    min-width: 12.3125rem;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 1rem !important;
    background-color: var(--lightbrown) !important;
  }
  .wpforms-submit svg {
    background-color: white;
    border-radius: 100%;
  }
}
