@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Regular.ttf") format("truetype");
}

/* @font-face {
  font-family: "bevietnampro-bold";
  src: url("../fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
} */

@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Regular.ttf") format("opentype");
}

:root {
  --bevietnampro: "Be Vietnam Pro", sans-serif;
  --bevietnampro-bold: "bevietnampro", sans-serif;
  --notosansjp: "Noto Sans JP", sans-serif;

  --lightbrown: #aa402a;
  --brown: #cc5036;
  --darkbrown: #40170f;
  --whitebrown: #fdf5f3;
  --gray: #454545;
  --textcolor: #0d0d0d;
}
