.sdgPage,
.studyAbroadPage {
  background-color: #f5f5f5;

  /* !!joined Schools >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .joined-schools-container {
    padding: 3.5rem 5rem;
    gap: 1.5rem;
  }

  .joined-schools-title h5 {
    font-family: var(--bevietnampro);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 17.71px;
    color: var(--lightbrown);
  }
  .joined-schools-title h1 {
    font-family: var(--notosansjp);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 57.92px;
    margin-bottom: 1.5rem;
  }

  .logo-cards-wrapper {
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .logo-card {
    width: 12.3125rem;
    height: 6.25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  .logo-card img {
    height: 100%;
  }
  .logo-card:first-child img {
    width: 100%;
  }

  /* !!Gallery _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .gallery-container {
    /* height: 100vh; */
    overflow: hidden;
  }
  .gallery-wrapper {
    padding: 3rem 0;
  }
  .gallery-image {
    width: 32.625rem;
    height: 23.75rem;
    margin-inline: 20px;
  }
  .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  #galleryPage .slick-active {
    transition: margin-top 0.5s ease;
    margin-top: 4.3125rem;
  }

  /* !!activities_exchanges _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .act-exc-container {
    padding: 3.75rem 0 0 5rem;
  }
  .card-content {
    position: relative;
    width: 25.8125rem;
    height: 25rem;
    margin-inline: 20px;
  }
  .card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .card-content p {
    color: #fff;
    position: absolute;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 0 12px 12px 12px;
    width: calc(100% - 3rem);
    text-wrap: wrap;
  }
  .btn-wrap {
    text-align: right;
    padding: 0 5.0625rem 1.5rem 0;
  }
  .cards-content-wrapper {
    overflow: hidden; /* Hide overflow to show partial slide */
    white-space: nowrap; /* Prevent line breaks */
  }

  .cards-content-wrapper .slick-slide {
    display: inline-block; /* Ensure slides are displayed inline */
  }

  /* !!Upcoming Events _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  .ue-container {
    padding: 0 5rem 5rem 5rem;
  }
  .ue-container .section-title {
    padding: 6rem 0 1.5rem 0;
  }

  /* !!Criteria _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  .criteria-container {
    padding: 0 0 0 5rem;
  }
  .flx-title h1 {
    font-family: var(--bevietnampro);
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 55.66px;
  }
  .flx-title {
    padding: 7.5rem 0;
    flex-basis: 25%;
    display: flex;
  }

  .criteria-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0 0 5rem;
    background-image: url("../image/sdg/wavy-vector-long.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 32.375rem;
  }
  .criteria-container .slick-slider {
    width: 75% !important;
  }

  .criteria-card {
    display: flex;
    align-items: center;
    max-width: 20.375rem;
    height: 15.8125rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-inline: 0.625rem;
    padding: 2.5rem;
  }
  .criteria-card h2 {
    font-family: var(--notosansjp);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 34.75px;
    color: var(--lightbrown);
    margin-bottom: 2rem;
  }
  .criteria-card p {
    font-family: var(--notosansjp);
    font-size: 1rem;
    font-weight: 400;
    line-height: 23.17px;
    color: var(--textcolor);
  }

  /* !!Past Achievement */
  .past-achievements-container {
    padding: 0 5rem 5rem 5rem;
  }

  .achievement-card {
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 28.75rem;
    margin-inline: 1rem;
    /* height: 24.625rem; */
  }
  .achievement-image {
    height: 15.625rem;
  }
  .achievement-content-wrapper {
    padding: 1.25rem;
  }
  .achievement-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  .achievement-descriptions {
    flex-basis: 80%;
  }
  .achievement-description {
    gap: 2rem;
    padding: 0.25rem 0;
  }
  .achievement-description h5 {
    flex: 0 0 60px;
  }
  .achievement-description h6 {
    text-wrap: wrap;
  }
  .achievement-button {
    flex-basis: 20%;
    align-items: flex-end;
  }
}
